.header{
    background: rgb(10,4,108);
    background: linear-gradient(90deg, rgba(10,4,108,1) 0%, rgba(93,93,255,1) 24%, rgba(255,0,116,1) 100%);
    padding: 20px 0px 20px 0px;
    margin-top: -25px;
}

.header h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}


#body{
    background-color: rgb(12, 12, 31);
    width: 100%;
    height: 1vh;
  }

  .hub_title{
      text-align: center;
      color: white;
      font-size: 50px;
      margin-top: 30px;
  }

  .user_hello{
    text-align: center; 
    color: white;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    padding: 10px 0px 10px 0px;
    margin-left: 37.5%;
    margin-top: 20px;
    }

  .vehicles{
      width: 20%;
      padding: 20px 30px 20px 30px;
      display: inline-block;
      margin-top: 5%;
      margin-left: 18%;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .vehicles:hover{
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }

  .vehicles h2{
    color: rgb(47, 50, 75);
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .vehicles div{
    width: 15%;
    border-top: 2px solid rgb(180, 28, 180);
  }

  .vehicles p{
    margin-top: 15px;
    width: 70%;
    color: rgb(80, 80, 80);
  }

  .vehicles img{
      width: 20%;
      padding: 20px 15px 20px 15px;
      background-color: rgb(127, 1, 165);
      border-radius: 10px;
      margin-top: 15px;
    }

  .skills{
      width: 20%;
      padding: 20px 30px 20px 30px;
      display: inline-block;
      margin-top: 5%;
      margin-left: 2%;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .skills:hover{
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  }

  .skills h2{
    color: rgb(47, 50, 75);
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .skills div{
    width: 15%;
    border-top: 2px solid rgb(180, 28, 180);
  }

  .skills p{
    margin-top: 15px;
    width: 70%;
    color: rgb(80, 80, 80);
}

  .skills img{
    width: 20%;
    padding: 15px 15px 15px 15px;
    background-color: rgb(127, 1, 165);
    border-radius: 10px;
    margin-top: 15px;
    }

    .store{
        width: 20%;
        padding: 20px 30px 20px 30px;
        display: inline-block;
        margin-top: 5%;
        margin-left: 2%;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
  
    .store:hover{
      cursor: pointer;
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
  
    .store h2{
        color: rgb(47, 50, 75);
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .store div{
        width: 15%;
        border-top: 2px solid rgb(180, 28, 180);
      }
  
    .store p{
        margin-top: 15px;
        width: 70%;
        color: rgb(80, 80, 80);
    }
  
    .store img{
        width: 20%;
        padding: 20px 15px 20px 15px;
        background-color: rgb(127, 1, 165);
        border-radius: 10px;
        margin-top: 15px;
      }

      .info{
          width: 85%;
          margin-left: 7.5%;
          margin-top: 15%;
      }

      .info img{
          float: right;
          width: 40%;
      }

      .info h2{
          color: white;
          text-transform: uppercase;
          font-size: 50px;
          text-align: center;
          margin-bottom: 60px;
      }

      .info p{
          color: white;
          font-size: 34px;
          width: 35%;
          padding-top: 30px;
          margin-left: 10%;
      }


/*///////////////////////////////////////////////////////////////////  MY CARS ///////////////////////////////////////////////////////////////////*/

.title{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.add{
    width: 87.5%;
    padding: 0PX 30px 15px 30px;
    border-radius: 35px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 6%;
    border: 2px solid white;
    color: rgb(255, 255, 255);
}

.add:hover{
    cursor: pointer;
}

.add h2{
    text-align: center;
}

.car{
        width: 25%;
        padding: 20px 30px 20px 30px;
        border-radius: 35px;
        display: inline-block;
        margin-top: 5%;
        margin-left: 6%;
        border: 2px solid white;
        color: rgb(255, 255, 255);
    }
  
.car:hover{
      cursor: pointer;
    }
  
.car h2{
    font-size: 30px;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
}

.car p{
    font-size: 20px;
}

.activated{
    color: greenyellow;
}

.deactivated{
    color: red;
}

.car img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 17px;
  }

/*///////////////////////////////////////////////////////////////////  STORE  ///////////////////////////////////////////////////////////////////*/

.product{
    width: 25%;
    padding: 20px 0px 20px 0px;
    border-radius: 35px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 6%;
    border: 2px solid white;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

.product:hover{
  cursor: pointer;
}

.product h2{
background-color: aliceblue;
font-size: 30px;
text-align: center;
}

.product p{
background-color: aliceblue;
font-size: 24px;
text-align: center;
}


.product img{
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
padding-bottom: 17px;
}

/*///////////////////////////////////////////////////////////////////  STORE  ///////////////////////////////////////////////////////////////////*/

.product_info{
    width: 60%;
    padding: 20px 0px 20px 0px;
    border-radius: 35px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 6%;
    border: 2px solid white;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

.product_info:hover{
  cursor: pointer;
}

.product_info h2{
background-color: aliceblue;
float: right;
margin-top: -15%;
margin-right: 52%;
font-size: 30px;
text-align: center;
}

.product_info p{
background-color: aliceblue;
float: right;
margin-top: -12%;
margin-right: 65%;
font-size: 32px;
text-align: center;
}


.product_info img{
width: 20%;
margin-left: 5%;
padding-top: 10px;
padding-bottom: 17px;
}

#buy{
    float:right;
    padding: 10px 90px 10px 90px;
    top: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 58%;
    margin-top: -7%;
}

/*///////////////////////////////////////////////////////////////////  STORE  ///////////////////////////////////////////////////////////////////*/

.box_login{
    background-color: rgb(18, 4, 36);
    width: 25%;
    display: inline-block;
    margin-top: 10%;
    margin-left: 37.5%;
    border-radius: 25px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.01);
}

.box_login::after {
    position: absolute;
    content: "";
    top: 16.5%;
    left: 36%;
    right: 0;
    z-index: -1;
    height: 69.5%;
    width: 28%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
}

  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  

.box_login h2{
    text-align: center;
    margin-top: 60px;
    color: white;
}

.box_login p{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

.user_form{
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    padding: 10px 0px 10px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}

input::placeholder{
    color: white;
}

input:active{
    border: none;
}

.box_login button{
    width: 60%;
    padding: 15px 30px 15px 30px;
    margin-top: 50px;
    margin-left: 20%;
    border-radius: 15px;
}

.facebook{
    margin-left: 20%;
    width: 30%;
    padding: 10px 10px 0px 10px;
    display: inline-block;
}

.facebook img{
    width: 20%;
}

.facebook p{
    float: right;
    margin-right: 20%;
    margin-top: 1%;
    color: rgb(255, 255, 255);
}

.google{
    width: 30%;
    padding: 10px 10px 0px 10px;
    display: inline-block;
}

.google img{
    width: 20%;
}

.google p{
    float: right;
    margin-top: 1%;
    margin-right: 20%;
    color: rgb(255, 255, 255);
}

/*///////////////////////////////////////////////////////////////////  SKILLS  ///////////////////////////////////////////////////////////////////*/

.select-skills{
    padding: 15px 180px 15px 240px;
    border-radius: 10px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background: linear-gradient(90deg, rgba(185,29,184,1) 0%, rgba(170,84,169,1) 53%, rgba(130,0,130,1) 100%);
    font-size: 20px;
}

.box-skills{
    width: 90%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    border-radius: 30px;
}

.top-box{
    width: 65%;
}

.top-box img{
    width: 30%;
    margin-left: 50px;
}

.top-box h1{
    width: 30%;
    float: right;
    margin-top: 40px;
    margin-right: 25%;
    font-size: 30px;

}
.year{
    width: 30%;
    float: right;
    margin-top: -22%;
    margin-right: 25%;
    font-size: 24px;

}
.status{
    width: 30%;
    float: right;
    margin-top: -18.5%;
    margin-right: 25%;
    font-size: 24px;

}

.bottom-box{
    width: 65%;
    padding-bottom: 60px;
}
.bottom-box h1{
    font-size: 30px;
    margin-left: 70px;
    margin-top: -5%;
}

.engine{
    margin-left: 70px;
    width: 30%;
    font-size: 24px;
}
.wheel{
    width: 30%;
    float: right;
    margin-top: -4.1%;
    margin-right: 32%;
    font-size: 24px;
}
.brake{
    width: 28%;
    float: right;
    margin-top: -4.1%;
    margin-left: 20%;
    font-size: 24px;
}

.available{
    color: rgb(128, 173, 128);
}

#progress-bar{
    width: 30%;
}

.score-engine{
    margin-left: 70px;
    width: 30%;
    font-size: 18px;
}
.score-wheel{
    width: 30%;
    float: right;
    margin-top: -4.1%;
    margin-right: 32%;
    font-size: 18px;
}
.score-brake{
    width: 28%;
    float: right;
    margin-top: -4.1%;
    margin-left: 20%;
    text-align: initial;
    font-size: 18px;
}

.bottom-box span{
    font-size: 24px;
    font-weight: 600;
}

#body-skills{
    background-color: rgb(12, 12, 31);
}