@{
    ViewData["Title"] = "Product Page";
}

<body id="body">
    <section>
      <h2 class="title">INFO</h2>
      <a href="cars.html">
        <div class="product_info">
          <img src="assets/img/products/pneu.png" alt="" srcset="" />
          <h2>Car Wheel - 14 Inch Rims</h2>
          <p>USD 33.00</p>
          <button id="buy">BUY</button>
        </div>
      </a>
    </section>
  </body>