@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a class="bug" asp-controller="CarrinhoCompra" asp-action="Index">
        <span class="carrinho" style="color:white">
            your cart
        </span>
    </a>
}
